.header {
	font-size: 1em;
	background: url(../img/fon.jpg) center/cover no-repeat;
	position: relative;
	z-index: -2;
}
.dark{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/* background: rgba(0, 0, 0, 0.05); */
	z-index: -1;
}
.header__wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: start;
	min-height: 100vh;
	padding: 2.0em 0;
}

.header__nav-wrap {
	/* height: 70px;
	width: 70px;
	background-color: blueviolet; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__logo {
	position: relative;
	height: 6em;
	width: 15em;
	margin-bottom: 0.8em;
}

.header__logo-img {
	position: absolute;
	height: 100%;
	width: 100%;
	fill: var(--icolor);
}

.header__logo-img:hover {
	position: absolute;
	height: 100%;
	fill: var(--icolor);
}

.nav {
	justify-self: end;
}

.nav__list {
	list-style: none;
	padding: 0;
	margin-left: -0.5em;
	display: flex;
	flex-wrap: wrap;
}

.nav__link {
	display: block;
	padding: 0.5em 0.25em;
	font-size: 1.33em;
	font-weight: 600;
	text-decoration: none;
	color: var(--white);
}

.header__title {
	/* height: 70px;
	width: 70px;
	background-color: rgb(67, 110, 78); */
	flex-grow: 2;
	display: flex;
	align-items: center;
	font-size: 5.0vw;
	color: var(--white);
	margin-top: -100px;
}


.header__arrow {
	position: absolute;
	left: 50%;
	bottom: 8%;

	display: block;
	height: 60px;
	width: 60px;
	padding: 0;
	margin: 0;

	background: none;
	border: none;
	transform: translateX(-50%);
}

.header__arrow-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	fill: none;
	stroke: rgb(255, 255, 255);
	cursor: pointer;
}