.header {
	font-size: 1em;
	background: url(../img/fon.jpg) center/cover no-repeat;
	position: relative;
}

.dark {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to right, rgb(241, 39, 17), rgba(248, 178, 26, 0.774));
	opacity: 0.4;
	z-index: 1;
}

.header__wrap {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: start;
	/* height: 100vh; */
	min-height: 100vh;
	padding: 2.0em 0;
	z-index: 2;
}

.header__nav-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* z-index: 1; */
}

.header__logo {
	position: relative;
	height: 6em;
	width: 15em;
	margin-bottom: 0.8em;
}

.header__logo-img {
	position: absolute;
	height: 100%;
	width: 100%;
	fill: var(--icolor);
}

.header__logo-img:hover {
	position: absolute;
	height: 100%;
	fill: var(--icolor);
}

.nav {
	position: relative;
	justify-self: end;
	z-index: 3;
}

.nav__list {
	position: relative;
	list-style: none;
	padding: 0;
	margin-left: -0.5em;
	display: flex;
	flex-wrap: wrap;
	z-index: 4;
}

.nav__item {
	position: relative;
	cursor: pointer;
	z-index: 5;
}

.nav__link {
	position: relative;
	display: block;
	padding: 0.5em 0.25em;
	font-size: 1.33em;
	font-weight: 600;
	text-decoration: none;
	color: var(--white);
	z-index: 6;
}

.header__title {
	flex-grow: 2;
	display: flex;
	align-items: center;
	font-size: 1.0rem;
	color: var(--white);
	/* margin-top: -100px; */
}


@media (min-width: 500px) {
	.header__title {
		font-size: 1.3rem;
	}
}
@media (min-width: 630px) {
	.header__title {
		font-size: 1.7rem;
	}
}

@media (min-width: 900px) {
	.header__title {
		font-size: 2.2rem;
	}
}

.header__arrow {
	/* position: absolute; */
	/* left: 50%; */
	/* bottom: 8%; */
	align-self: center;
	position: relative;

	display: block;
	height: 60px;
	width: 60px;
	padding: 0;
	margin: 0;

	background: none;
	border: none;
	/* transform: translateX(0%); */
}

.header__arrow-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	fill: none;
	stroke: rgb(255, 255, 255);
	cursor: pointer;
}