.header{
    padding: 40px 0;
    min-height: 100vh;
    background: url(../img/fon.jpg) center/cover no-repeat;
}

.header__nav-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 190px;
}

.header__logo {
    grid-column: 1 span;
    height: 100px;
    position: relative;
}

.header__logo-img {
    position: absolute;
    height: 100%;
    fill: var(--icolor);
}
.header__logo-img:hover {
    position: absolute;
    height: 100%;
    fill: var(--icolor);
}

.nav{
    justify-self: end;
}

.nav__list{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
}
.nav__link{
    display: block;
    font-size: 1.6em;
    padding: .5em;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
}

.header__title{
    height: 100%;
    color: var(--white);
    font-size: 3.2em;
}