.order {
	padding: 2.5em 0 5.0em;
}

.order__title {
	margin-bottom: 1.1em;
}

.form {
	padding: 1em 0.9em;
	color: #e7e7e7;
	font-size: 1.5rem;
	border-radius: 0.5em;
	background: #141414;

	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.35);

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: max-content;
}


.form__label {
	grid-column: 4 span;
	margin-bottom: 0.3em;

	font-size: 1em;
}

.form__input {
	grid-column: 4 span;
	margin-bottom: 0.8em;
}

.input-form {
	max-width: 100%;
	padding: 0.4em;

	font-family: inherit;
	font-weight: 500;
	font-size: 0.72em;
	color: #d1d1d1;

	border: none;
	border-radius: 4px;
	background: none;
	background: #1d1d1d;
}

.input-form:focus {
	box-shadow: 0 1px var(--icolor);
	outline: none;
}

.form__selsect {
	position: relative;

	text-align: start;
}

.form__selsect::after {
	position: absolute;
	content: '';
	top: 50%;
	right: 0.4em;
	transform: translateY(-50%);
	border-style: solid;
	border-width: 0.4em 0.35em 0 0.35em;
	border-color: #ffa200 transparent transparent transparent;
}


.form__check-label {
	grid-column: 4 span;
	display: block;
	position: relative;
	padding-left: 1.4em;
	margin-bottom: 0.3em;

	font-size: 0.8em;
}

.label-ch {
	margin-bottom: 1.7em;
	cursor: pointer;
}

.form__check {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check-box {
	position: absolute;
	height: 1em;
	width: 1em;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border: 1px solid var(--icolor);
	border-radius: 6px;
}

.form__check:focus+span {
	outline: 1px solid rgb(30, 100, 204);
}

.form__check:checked+.check-box::before {
	content: '';
	height: 0.2em;
	width: 0.65em;

	position: absolute;
	top: 65%;
	left: 44%;
	transform-origin: 0 50%;
	transform: rotate(-52deg);

	background: var(--icolor)
}

.form__check:checked+.check-box::after {
	content: '';
	height: 0.2em;
	width: 0.45em;

	position: absolute;
	top: 65%;
	left: 56%;
	transform-origin: 0 50%;
	transform: rotate(225deg);

	background: var(--icolor)
}

.form__textarea {
	grid-column: 4 span;
	height: 160px;
	max-width: 100%;
	padding: 0.4em;
	resize: none;

	font-family: inherit;
	font-weight: 500;
	font-size: 0.72em;
	color: #d1d1d1;

	border: none;
	background: #1d1d1d;
	;
}

.form__textarea:focus {
	box-shadow: 0 1px var(--icolor);
	outline: none;
}

.form__button {
	grid-column: 4 span;
	justify-self: start;
	padding: 0.6em 1.5em;
	margin-top: 2.3em;

	font-size: 0.70em;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	color: #ffffff;

	background: var(--icolor);
	background: linear-gradient(to right, rgb(241, 105, 17), rgba(247, 173, 13, 0.774));
	border: none;
	border-radius: 0.6em;
	cursor: pointer;
}