:root {
    --width: 1160px;
    --icolor: #ec8000;
    --white: #e7ebee;
}

.container{
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
}

body{
    font-family: 'Montserrat',
    Arial,
    sans-serif;
}

.title{
    font-size: 3.5em;
    color: var(--icolor);
}

.icon {
    fill: #C2185b;
    width: 100px;
}

.icon:hover {
    fill: #e040fb;
    width: 100px;
}