:root {
	--width: 1160px;
	/* --icolor: #ec8000; */
	--icolor: #ee7d12;
	--white: #ffffff;
}

.container {
	max-width: 425px;
	padding: 0 15px;
	margin: 0 auto;
}


*,
*::before,
*::after {
	box-sizing: border-box;
	border: none;
}

* {
	margin: 0;
}

*:focus {
	outline: 1px solid rgb(30, 100, 204);
}

body {
	font-family: 'Montserrat',
		Arial,
		sans-serif;
	background: #222222;
}

.title {
	font-size: 1.9em;
	color: var(--icolor);
}

.icon {
	fill: #C2185b;
	width: 100px;
}

.icon:hover {
	fill: #e040fb;
	width: 100px;
}

.visually-hidden {
	position: absolute;
	width: -1px;
	height: -1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}